# AWS
AWS_REGION=eu-west-3
S3_BUCKET_NAME=teads-recruitment-analytics-raw

# GCP / BigQuery
GCP_PROJECT_ID=your-gcp-project-id
BQ_RAW_DATASET=raw_greenhouse
BQ_STAGING_DATASET=stg_greenhouse
BQ_CORE_DATASET=core_greenhouse
BQ_MARTS_DATASET=marts_recruitment

# Local data
LOCAL_DATA_DIR=data

# Mock API dataset profile: original or large
MOCK_DATASET_PROFILE=large
